{% extends 'base.html' %}

{% block title %}
{{ super() }}
{% endblock %}


{% block content %}
<script>
	function choice(){
		if (document.getElementById("choice").value == "same")
        	document.getElementById("mob").value = "aadfasdf";
 			document.getElementById("add1").value = "adf";
    		}
 		if (document.getElementById("choice").value == "new") {
   			document.getElementById("pincode").readonly = true;
    		}
}
</script>


<div class="product-model">
<div class="container">
		 <ol class="breadcrumb">
		<li><a href="{{ url_for('main.index') }}">Home</a></li>
            <li><a href="{{ url_for('auth.account') }}">Account</a></li>
            <li class="active">Change Password</li>
        </ol>
    <h2>Shedule A Service</h2>
    <div class="rsidebar span_1_of_left">
				 <section  class="sky-form">
					 <div class="product_right">
						 <h4 class="m_2"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span>Account</h4>
						 <div class="tab1">
							 <ul class="place">
								 <li class="sort"><a href="{{ url_for('auth.change_password') }}">Change Password</a></li>
									<div class="clearfix"> </div>
							  </ul>
					      </div>
						  <div class="tab2">
							 <ul class="place">
								 <li class="sort"><a href="{{ url_for('auth.orders') }}">Your Orders</a></li>
									<div class="clearfix"> </div>
							  </ul>
					      </div>
						  <div class="tab3">
							 <ul class="place">
								 <li class="sort"><a href="{{ url_for('auth.book_now') }}">Place Order</a></li>
									<div class="clearfix"> </div>
							  </ul>
					      </div>
                         <div class="tab4">
							 <ul class="place">
								 <li class="sort"><a href="{{ url_for('auth.logout') }}">Logout</a></li>
									<div class="clearfix"> </div>
							  </ul>
					      </div>
                     </div>
                 </section>
            </div>


    <div class="col-md-9 product-model-sec">
		<div class="registration_form">
        <form action="{{ url_for('auth.book_now')}}" method='GET' enctype='multipart/form-data'>
  			{{ form_book.csrf_token }}
			<div>
				<span>{{ form_book.choice(onclick= "choice()", tabindex = "15", id= "choice") }}</span>
			</div>
			document.getElement
			<div>
				<span>{{ form_book.number(**{'id': 'mob','value': current_user.mob, 'tabindex':"3"}) }}</span>
			</div>
			<div>
				<span>{{ form_book.address_1(**{'id': 'add1','value': current_user.address_1, 'tabindex':"6", 'readonly': 'readonly'}) }}</span>
			</div>
			<div>
				<span>{{ form_book.address_2(**{'id': 'add2','value': current_user.address_2, 'tabindex':"7", 'readonly': 'readonly'}) }}</span>
			</div>
			<div>
				<span>{{ form_book.city(**{'id': 'city', 'value': current_user.city, 'tabindex':"8", 'readonly': 'readonly'}) }}</span>
			</div>
			<div>
				<span>{{ form_book.pincode(**{'id': 'pincode', 'value': current_user.pincode, 'tabindex':"8", 'readonly': 'readonly'}) }}</span>
			</div>
			<div>
				<span>{{ form_book.date(**{	'placeholder': "Date", 'tabindex':"10", 'type': 'date'}) }}</span>
			</div>
			<div>
				<span>{{ form_book.submit() }}</span>
			</div>
		</form>
	</div>
    </div>

    </div>
</div>
</div>
{% endblock %}