{% extends 'base.html' %}

{% block title %}
{{ super() }}
{% endblock %}


{% block content %}
<script>
	function myFunction(typ){
	if (typ === "choice-0"){
		document.getElementById("mob").readOnly= true;
		document.getElementById("pincode").readOnly = true;
		document.getElementById("add1").readOnly = true;
		document.getElementById("add2").readOnly = true;
		document.getElementById("city").readOnly = true;
		}
	else if (typ === "choice-1"){
		document.getElementById("mob").readOnly= false;
		document.getElementById("pincode").readOnly = false;
		document.getElementById("add1").readOnly = false;
		document.getElementById("add2").readOnly = false;
		document.getElementById("city").readOnly = false;
		}
	}
</script>


<div class="product-model">
<div class="container">
		 <ol class="breadcrumb">
		<li><a href="{{ url_for('main.index') }}">Home</a></li>
            <li><a href="{{ url_for('auth.account') }}">Account</a></li>
            <li class="active">Change Password</li>
        </ol>
    <h2>Shedule A Service</h2>
    <div class="rsidebar span_1_of_left">
				 <section  class="sky-form">
					 <div class="product_right">
						 <h4 class="m_2"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span>Account</h4>
						 <div class="tab1">
							 <ul class="place">
								 <li class="sort"><a href="{{ url_for('auth.change_password') }}">Change Password</a></li>
									<div class="clearfix"> </div>
							  </ul>
					      </div>
						  <div class="tab2">
							 <ul class="place">
								 <li class="sort"><a href="{{ url_for('auth.orders') }}">Your Orders</a></li>
									<div class="clearfix"> </div>
							  </ul>
					      </div>
						  <div class="tab3">
							 <ul class="place">
								 <li class="sort"><a href="{{ url_for('auth.book_now') }}">Place Order</a></li>
									<div class="clearfix"> </div>
							  </ul>
					      </div>
                         <div class="tab4">
							 <ul class="place">
								 <li class="sort"><a href="{{ url_for('auth.logout') }}">Logout</a></li>
									<div class="clearfix"> </div>
							  </ul>
					      </div>
                     </div>
                 </section>
            </div>


    <div class="col-md-9 product-model-sec">
		<div class="registration_form">
        <form action="{{ url_for('auth.book_now')}}" method='GET' enctype='multipart/form-data'>
  			{{ form_book.csrf_token }}
			<div>
				{% for subfield in form_book.choice %}
        		&nbsp;&nbsp;&nbsp;<span style="display:inline-block">{{ subfield.label() }}</span>
				&nbsp;&nbsp;&nbsp;<span>{{ subfield(onclick="myFunction('%s')" %subfield.id) }}</span>
	    		{% endfor %}
			</div>
			<div>
				<span>{{ form_book.number(**{'placeholder': "Number", 'id': 'mob','value': current_user.mob, 'tabindex':"3", 'readonly': 'readonly'}) }}</span>
			</div>
			<div>
				<span>{{ form_book.address_1(**{'placeholder': "Address Line 1", 'id': 'add1','value': current_user.address_1, 'tabindex':"6", 'readonly': 'readonly'}) }}</span>
			</div>
			<div>
				<span>{{ form_book.address_2(**{'placeholder': "Address Line 2", 'id': 'add2','value': current_user.address_2, 'tabindex':"7", 'readonly': 'readonly'}) }}</span>
			</div>
			<div>
				<span style="display:inline-block">{{ form_book.city.label() }}</span><span>&nbsp;&nbsp;&nbsp;{{ form_book.city(**{'id': 'city', 'value': current_user.city, 'readonly': 'readonly', 'tabindex':"8"}) }}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<span style="display:inline-block">{{ form_book.pincode.label() }}</span><span>&nbsp;&nbsp;&nbsp;{{ form_book.pincode(**{'id': 'pincode', 'value': current_user.pincode, 'readonly': 'readonly', 'tabindex':"8"}) }}</span>
			</div>
			<div>
				<span>{{ form_book.date(**{	'placeholder': "Date", 'tabindex':"10", 'type': 'date'}) }}</span>
			</div>
			<div>
				<span>{{ form_book.submit() }}</span>
			</div>
		</form>
	</div>
    </div>

    </div>
</div>
</div>
{% endblock %}