{% extends "base.html" %}

{% block title %}
Waasle Laundry| Change Password
{% endblock %}

{% block content %}
<div class="container">
		 <ol class="breadcrumb">
		<li><a href="{{ url_for('main.index') }}">Home</a></li>
            <li><a href="{{ url_for('auth.account') }}">Account</a></li>
            <li class="active">Change Password</li>
        </ol>
    <h2 class="top">Change Password</h2><br>
    <div class="contact-form">
        <form action="{{url_for('auth.change_password')}}" method='POST' enctype='multipart/form-data'>
            {{ form.csrf_token }}
            <div>
                <span>{{ form.old_password.label() }}</span>
                <span>{{ form.old_password() }}</span>
            </div>
            <div>
                <span><label>{{ form.password.label() }}</label></span>
                <span>{{ form.password() }}</span>
            </div>
            <div>
                <span><label>{{ form.password2.label() }}</label></span>
                <span>{{ form.password2() }}</span>
            </div>
            <div>
                <span>{{ form.submit() }}</span>
            </div>
        </form>
    </div>
    </div>
{% endblock %}
