{% extends "base.html" %}

{% block title %}
Waasle Laundry| Change Password
{% endblock %}

{%block styles %}
{{super()}}
	<link href="{{ url_for('static', filename='css/form.css') }}" rel="stylesheet" type="text/css" media="all" />
{% endblock styles %}

{% block content %}
<div class="product-model">
<div class="container">
		 <ol class="breadcrumb">
		<li><a href="{{ url_for('main.index') }}">Home</a></li>
            <li><a href="{{ url_for('auth.account') }}">Account</a></li>
            <li class="active">Change Password</li>
        </ol>
    <h2>Change Password</h2>
    <div class="rsidebar span_1_of_left">
				 <section  class="sky-form">
					 <div class="product_right">
						 <h4 class="m_2"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span>Account</h4>
						 <div class="tab1">
							 <ul class="place">
								 <li class="sort"><a href="{{ url_for('auth.change_password') }}">Change Password</a></li>
									<div class="clearfix"> </div>
							  </ul>
					      </div>
						  <div class="tab2">
							 <ul class="place">
								 <li class="sort"><a href="{{ url_for('auth.orders') }}">Your Orders</a></li>
									<div class="clearfix"> </div>
							  </ul>
					      </div>
						  <div class="tab3">
							 <ul class="place">
								 <li class="sort"><a href="{{ url_for('main.pricing') }}">Place Order</a></li>
									<div class="clearfix"> </div>
							  </ul>
					      </div>
                         <div class="tab4">
							 <ul class="place">
								 <li class="sort"><a href="{{ url_for('auth.logout') }}">Logout</a></li>
									<div class="clearfix"> </div>
							  </ul>
					      </div>
                     </div>
                 </section>
            </div>


    <div class="col-md-9 product-model-sec">

    <div class="registration_form">
        <form action="{{url_for('auth.change_password')}}" method='POST' enctype='multipart/form-data'>
            {{ form.csrf_token }}
            <div>
                <span>{{ form.old_password.label() }}</span>
                <span>{{ form.old_password() }}</span>
            </div>
            <div>
                <span><label>{{ form.password.label() }}</label></span>
                <span>{{ form.password() }}</span>
            </div>
            <div>
                <span><label>{{ form.password2.label() }}</label></span>
                <span>{{ form.password2() }}</span>
            </div>
            <div>
                <span>{{ form.submit() }}</span>
            </div>
        </form>
    </div>

    </div>
</div>
</div>
{% endblock %}
