{% extends "base.html" %}

{% block title %}
Waasle Laundry| Change Password
{% endblock %}

{%block styles %}
{{super()}}
	<link href="{{ url_for('static', filename='css/form.css') }}" rel="stylesheet" type="text/css" media="all" />
{% endblock styles %}

{% block content %}


<div class="product-model">
<div class="container">
		 <ol class="breadcrumb">
		<li><a href="{{ url_for('main.index') }}">Home</a></li>
            <li><a href="{{ url_for('auth.account') }}">Account</a></li>
            <li class="active">Your Orders</li>
        </ol>
    <h2>Your Orders</h2>
    <div class="rsidebar span_1_of_left">
				 <section  class="sky-form">
					 <div class="product_right">
						 <h4 class="m_2"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span>Account</h4>
						 <div class="tab1">
							 <ul class="place">
								 <li class="sort"><a href="{{ url_for('auth.change_password') }}">Change Password</a></li>
									<div class="clearfix"> </div>
							  </ul>
					      </div>
						  <div class="tab2">
							 <ul class="place">
								 <li class="sort"><a href="{{ url_for('auth.orders') }}">Your Orders</a></li>
									<div class="clearfix"> </div>
							  </ul>
					      </div>
						  <div class="tab3">
							 <ul class="place">
								 <li class="sort"><a href="{{ url_for('auth.book_now') }}">Place Order</a></li>
									<div class="clearfix"> </div>
							  </ul>
					      </div>
                         <div class="tab4">
							 <ul class="place">
								 <li class="sort"><a href="{{ url_for('auth.logout') }}">Logout</a></li>
									<div class="clearfix"> </div>
							  </ul>
					      </div>
                     </div>
                 </section>
            </div>


    <div class="col-md-9 product-model-sec">
        {% if len(current_user.orders.all()) == 0 %}
            <p>You didn't book any laundry from us yet. Please give us a chance to make you happy.</p>
        {% else %}
        <div>
			<table  id="example"  class="display">
            <thead>
                <th>Ticket ID</th>
                <th>Date Created</th>
                <th>Scheduled Date</th>
                <th>Service</th>
								<th>Status</th>
                <th>Edit</th>
                </thead>
            <tbody></tbody>
            <tfoot >
            {% for order in current_user.orders.all() %}
              <tr>
                  <th><input style="width: 100px; text-align: center" type="text"  name="order"   value="{{ order.id }}"  readonly/></th>
                  <th><input style="width: 150px; text-align: center" type="text"  name="time"   value="{{ order.timestamp }}"  readonly/></th>
                  <th><input style="width: 150px; text-align: center" type="text"  id='pick_{{ order.id }}' name="pick"   value="{{ order.pick_up }}"  readonly/></th>
									<th><input style="width: 150px; text-align: center" type="text"  name="service"   value="{{ order.service }}"  readonly/></th>
                  <th><input style="width: 150px; text-align: center" type="text"  name="status"   value="{{ order.status }}"  readonly/></th>
                  <th>
                      <form action="{{ url_for('auth.reschedule', order_id= order.id )}}" method='GET' enctype='multipart/form-data'>
                          <input style="display: none" name="order"   value="{{ order.id }}"/>
                          <input style="width: 180px; text-align: center;" id='rem_{{ order.id }}' type="submit"  name="submit"   value="Reschedule"/>
                      </form>
                  </th>
              </tr>
            {% endfor %}

            </tfoot>
          </table>
		</div>
        <br/><br/>
		<p>

        {% endif %}


    </div>
</div>
</div>
{% endblock %}
