{% extends "base.html" %}

{% block title %}
Waasle Laundry| Resest Password
{% endblock %}

{% block content %}
<div class="container">
		 <ol class="breadcrumb">
		<li><a href="{{ url_for('main.index') }}">Home</a></li>
            <li class="active">Reset Password</li>
        </ol>
    <div class="col-md-6 span_1_of_3">
    <h2 id="h2.-bootstrap-heading">Reset Your Password</h2><br>
    <div class="contact-form">
        <form action="{{url_for('auth.password_reset_request')}}" method='POST' enctype='multipart/form-data'>
            {{ form.csrf_token }}
            <div>
                <span>{{ form.email.label() }}</span>
                <span>{{ form.email() }}</span>
            </div>
            <div>
                <span>{{ form.submit() }}</span>
            </div>
        </form>
    </div>
    </div>
    </div>
{% endblock %}