{% extends 'base.html' %}

{% block title %}
Waasle Laundry | Page not found.
{% endblock %}

{% block content %}

<p>&nbsp;</p>
<!-- Main -->
<div class="container"><img src="{{url_for('static', filename='images/404.jpg')}}" alt="Waasle Laundry" align="middle" />
<li>
    <div class="Buttons">
        <h2 class="b2">
            <a href="{{url_for('main.index')}}"><span class="label label-primary">Visit homepage</span></a>
        </h2>
        </div>
        <a class="button special" href=""></a></li>
</div>
{% endblock %}