<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        Waasle Laundry | A Full Laundry Services | Page Not Found
    </title>

	<link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet" type="text/css" media="all" />
	<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css" media="all" />
    <link href="{{ url_for('static', filename='css/memenu.css') }}" rel="stylesheet" type="text/css" media="all" />

</head>
<body>
<p>&nbsp;</p>
<!-- Main -->
<div class="container"><img src="{{url_for('static', filename='images/404.jpg')}}" alt="Waasle Laundry" align="middle" />
<li style="list-style-type: None;">
    <div class="Buttons">
        <h2 class="b2">
            <a href="{{url_for('main.index')}}"><span class="label label-primary">Visit homepage</span></a>
        </h2>
        </div>
        <a class="button special" href=""></a></li>
</div>
</body>
</html>