{% extends "base.html" %}

{% block title %}
Waasle Laundry| Change Password
{% endblock %}

{%block styles %}
{{super()}}
	<link href="{{ url_for('static', filename='css/form.css') }}" rel="stylesheet" type="text/css" media="all" />
{% endblock styles %}

{% block content %}


<div class="product-model">
<div class="container">
		 <ol class="breadcrumb">
		<li><a href="{{ url_for('main.index') }}">Home</a></li>
            <li class="active">Information</li>
        </ol>
    <h2>About Us</h2>
    <div class="rsidebar span_1_of_left">
				 <section  class="sky-form">
					 <div class="product_right">
						 <h4 class="m_2"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span>Information</h4>
						 <div class="tab1">
							 <ul class="place">
								 <li class="sort"><a href="{{ url_for('main.location') }}">Location</a></li>
									<div class="clearfix"> </div>
							  </ul>
					      </div>
						  <div class="tab2">
							 <ul class="place">
								 <li class="sort"><a href="{{ url_for('main.services') }}">Services</a></li>
									<div class="clearfix"> </div>
							  </ul>
					      </div>
						  <div class="tab3">
							 <ul class="place">
								 <li class="sort"><a href="{{ url_for('main.mission') }}">Our Mission</a></li>
									<div class="clearfix"> </div>
							  </ul>
					      </div>
                         <div class="tab4">
							 <ul class="place">
								 <li class="sort"><a href="{{ url_for('main.vision') }}">Our Vision</a></li>
									<div class="clearfix"> </div>
							  </ul>
					      </div>
                     </div>
                 </section>
            </div>


    <div class="col-md-9 product-model-sec">
			<div id="">WAASLE laundry provides one stop clothing specialist that offers full laundry services. We are arriving on demand laundry service because washing is a daily need just like food</div>
<div>MD & CO FOUNDER- NARSINGH YADAV (narsingh@waasle.com),<br>
CEO & COFOUNDER- RAJVEER YADAV,<br>
INVESTOR- BRIJENDRA SINGH,<br>
SENIOR HR- SHILPI SINGH,<br>
TECHNICAL COSULTENT – PREM PAL AND SHIVAM<br>
</div>
	</div>
</div>
        <div>
		</div>
        <br/><br/>
    </div>
</div>
</div>
{% endblock %}
