<!DOCTYPE html>
<html lang="en">
<head>

    {% block metas %}
    <meta charset="UTF-8">
    {% endblock metas %}

    <title>
        {% block title %}
        Waasle Laundry | A Full Laundry Services
        {% endblock title %}
    </title>

    {%block styles %}
	<link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet" type="text/css" media="all" />
	<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css" media="all" />
	<link href="{{ url_for('static', filename='css/rate.css') }}" rel="stylesheet" type="text/css" media="all" />
	<link href="{{ url_for('static', filename='css/package.css') }}" rel="stylesheet" type="text/css" media="all" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Sniglet" rel="stylesheet">
	{% endblock styles %}

    {% block scripts %}
    <script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <script src="{{url_for('static', filename='js/simpleCart.min.js')}}"> </script>
    <script src="{{url_for('static', filename='js/memenu.js')}}" type="text/javascript"></script>
    <script>$(document).ready(function(){$(".memenu").memenu();});</script>
    {% endblock scripts %}

</head>
<body>
    {% block header %}
<!--header-->
<script src="{{url_for('static', filename='js/responsiveslides.min.js')}}"></script>
<script>
    $(function () {
      $("#slider").responsiveSlides({
      	auto: true,
      	nav: true,
      	speed: 500,
        namespace: "callbacks",
        pager: false,
      });
    });
  </script>

<div class="header-top">

	<!--header-->
	<div class="row" style="width:100%;margin-right: 0px;margin-left: 0px;background-color: ghostwhite;">
		<div class="col-md-2 col-sm-2 col-lg-2 col-xs-4">
			<a href="{{ url_for('main.index') }}">
				<img style="transform:scale(1.05);height:100px; width:100px; margin-left:20px;" src="../static/images/Logo.png" alt=""/>
			</a>
		</div>
		<div class="col-sm-8 col-md-8 col-lg-8 col-xs-5" style="font-family:Sniglet;color:#0e0904;text-shadow: 2px 2px #aaaaaa;">
			<h1 style="margin-top: 15px;font-size:40px"></h1>
			<h3 style="font-family:Sniglet;color:#5078b5;"></h3>
		</div>
		<div class="col-sm-2 col-md-2 col-lg-2 col-xs-3" style="font-size:1.5em;margin-top:20px">
			 <i class="fa fa-mobile" style="color:#2196f3;font-size:1.3em;"></i><span style="font-family:Sniglet;">&nbsp;&nbsp;&nbsp;&nbsp;+9129738085</span><br>
			 <i class="fa fa-whatsapp" style="color:#2196f3;"></i> <span style="font-family:Sniglet">&nbsp;+9161776888</span>
		</div>
	</div>
			 <!---->

			 <!---->

		<div class="clearfix"> </div>
			 <!---->
	 </div>
<div class="clearfix"> </div>
	<style>
		.headings{color:white; font-size:1.2em; font-weight:bold; border-right:1px solid white;
		 margin-top:8px; margin-bottom:8px;}
	</style>
	<nav class="navbar" style="margin-bottom: 0px; background-color:#00c0f2; color:white;">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#"></a>
			</div>
			<ul class="nav navbar-nav" style="margin-left:50px;">
				<li class="active"><a class="headings" href= "{{ url_for('main.index') }}">Home</a></li>
				{% if current_user.is_authenticated %}
				<li><a  class="headings" href="{{ url_for('auth.account') }}">Account</a>
				{% else %}
				<li><a  class="headings" href="{{ url_for('auth.login') }}">Login</a></li>
				{% endif %}
				<li><a  class="headings" href="{{ url_for('main.pricing') }}">Rate Card</a></li>
				<li><a  class="headings" href="{{ url_for('main.faq') }}">FAQ</a></li>
        <li><a  class="headings" href="{{ url_for('main.contact') }}">Contact</a></li>
        <li><a  class="headings" href="{{ url_for('main.about_us') }}">About Us</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li>
					<a href="{{ url_for('auth.book_now') }}">
						<button class="btn btn-primary">Book Now</button>
					</a>
				</li>
			</ul>
		</div>
	</nav>

    {% endblock header %}
	{% for message in get_flashed_messages() %}
	<div class="alerts" style="height: 60px; padding: .1em 0;">
		{% if message in ['Something Went Wrong. Please try again',
		'Invalid username or password.', 'Invalid password.',
		'Entered email address is not registered', 'Wrong choice. Please try again.'] %}
		<div class="alert alert-danger" role="alert">
        	<strong>{{ message }}</strong>
		</div>
		{% else %}
		<div class="alert alert-success" role="alert">
			<strong>{{ message }}</strong>
		</div>
		{% endif %}
    </div>
    {% endfor %}
    {% block content %}



    {% endblock content %}

    {% block footer %}
<!---->
<div class="subscribe">
	 <div class="container">
		 <h3>Download our mobile app</h3>
		 <form action="{{ url_for('main.mobile_app') }}" method='POST' enctype='multipart/form-data'>
			 {{ form_mob.csrf_token }}
			 {{ form_mob.number(**{'type': "text", 'class': "text", 'value': "Enter 10 digit mobile no.", 'onfocus': "this.value = '';", 'onblur': "if (this.value == '') {this.value = 'Enter 10 digit mobile no.';}"}) }}
			 {{ form_mob.submit() }}
		 </form>
	 </div>
</div>
<!---->
<div class="footer">
	 <div class="container">
		 <div class="footer-grids">
			 <div class="col-md-3 about-us">
				 <h3><a href="{{ url_for('main.about_us') }}">About Us</h3>
				 <p>WAASLE laundry provides one stop clothing specialist that offers full laundry services. We are arriving on demand laundry service because washing is a daily need just like food.

				 </p>
			 </div>
			 <div class="col-md-3 ftr-grid">
					<h3>Information</h3>
					<ul class="nav-bottom">
						<li><a href="{{ url_for('main.location') }}">Location</a></li>
						<li><a href="{{ url_for('main.index', _anchor='services') }}">Services</a></li>
						<li><a href="{{ url_for('main.index', _anchor='mission&vision') }}">Our Mission</a></li>
						<li><a href="{{ url_for('main.index', _anchor='mission&vision') }}">Our Vision</a></li>
					</ul>
			 </div>
			 <div class="col-md-3 ftr-grid">
					<h3>More Info</h3>
					<ul class="nav-bottom">
						<li><a href="{{ url_for('auth.login') }}">Login</a></li>
						<li><a href="{{ url_for('main.faq') }}">FAQ</a></li>
						<li><a href="{{ url_for('main.contact') }}">Contact</a></li>
						<li><a href="{{ url_for('main.blog') }}">Blog</a></li>
					</ul>
			 </div>
			 <div class="col-md-3 ftr-grid">
					<h3>Why Us</h3>
					<ul class="nav-bottom">
						<li><a href="{{ url_for('main.why_us') }}">Eco-Friendly</a></li>
						<li><a href="{{ url_for('main.why_us') }}">Affordable</a></li>
						<li><a href="{{ url_for('main.why_us') }}">Convenience</a></li>
						<li><a href="{{ url_for('main.why_us') }}">Packaging & Quality</a></li>
					</ul>
			 </div>
			 <div class="clearfix"></div>
		 </div>
	 </div>
</div>
<div class="copywrite">
	 <div class="container">
		 <div class="copy">
			 <p>© 2016 Waasle. All Rights Reserved</p>
		 </div>

		 <div class="clearfix"></div>
	 </div>
</div>
<!---->
    {% endblock footer %}
</body>
</html>
