{% extends 'base.html' %}

{% block title %}
Waasle Laundry | Frequently Asked Questions
{% endblock %}

{% block content %}

<!---->
<div class="pages">
		<div class="container">
			 <ol class="breadcrumb">
		  <li><a href=" {{ url_for('main.index') }}">Home</a></li>
		  <li class="active">FAQ</li>
		 </ol>
			 <h2 class="top">FAQ</h2>
            <div class="distracted">
                <h2 id="h2.-bootstrap-heading">PICK UP/DELIVERY</h2>
                </div>
				   <div class="well">
					 <h4>How to schedule my first pick-up?</h4>
                       <br>
                       <p>Scheduling your pick up is merely a few clicks away on our Website/App.For bookings through website, you put in your contact details with pick-up and delivery slots and pick up boy will be there in time. For bookings through app, just visit play store and search “pick my laundry” to download Android App. <a href="http://bit.ly/1K38IWh">Click here</a> to download it directly from Google Play. In case pick-up gets delayed due to unforeseen circumstances, our team will update you before-hand.</p>
				   </div>

				   <div class="well">
					<h4>How to reschedule a missed pickup/delivery?</h4>
                       <br>
                       <p> If you happen to have missed your pickup/delivery, you can simply reschedule it by calling at our call centre number and we will reschedule it.</p>
				   </div>
				   <div class="well">
					<h4>What’s your turnaround time?</h4>
                       <br>
                       <p> We take 48 Hours for laundry and 72 hours for dry cleaning. But in case of an emergency, we can make special arrangements.</p>
				   </div>
                <div class="well">
					<h4>How to contact pick my laundry in case of a query/complaint?</h4>
                       <br>
                       <p>You can always call at our call centre number or write us at support@waasle.com.Click <a href=" {{url_for('main.contact') }}">here</a> to submit your query.</p>
				   </div>
                <div class="distracted">
                <h2 id="h2.-bootstrap-heading">WASHING</h2>
                </div>
                <div class="well">
					<h4>How do I know that my personal items of laundry are in safe hands?</h4>
                       <br>
                       <p> The safety of personal items is in our hearts. Our riders understand this and our quality controls managers are hand picked selected professionals. If your personal items need to be washed a certain way, don’t worry - we’ll ask you for any special requests when we collect them.</p>
				   </div>
                <div class="well">
					<h4>How do you process my clothes, where are my clothes headed?</h4>
                       <br>
                       <p>From your doorsteps, your clothes land directly to a top notch Laundromat, where they are scrutinized by our quality control manager and sacked in lots with only your clothes. We have state of the art machines which wash and dry your clothes. We then either do folding or steam pressing as per instruction given by you during pickup.</p>
				   </div>
                <div class="well">
					<h4>What is the minimum order size?</h4>
                       <br>
                       <p> Our Minimum order value is Rs 250.</p>
				   </div>
                <div class="well">
					<h4>Do I need to separate clothes of laundry from dry clean?</h4>
                       <br>
                       <p> Our pick up riders have reusable laundry bags and you just need to tell our rider suitably about the segregation and our pick up rider will put your clothes in suitable bags.</p>
				   </div>
                <div class="well">
					<h4>Are there things that you will not wash?</h4>
                       <br>
                       <p>Not Much!!. If our laundry specialist discovers that it would not be sensible to wash a certain textile, we will contact you and agree on how to continue.</p>
				   </div>
                <div class="well">
					<h4>How do I give special instructions for my clothes?</h4>
                       <br>
                       <p>Be it a cold wash or a antiseptic wash or adding of fabric conditioner, we have this all covered for you. You can also mention about any adamant stain and we can arrange special treatment for them. You just need to mention it to our pick up rider and he will write it down in the special instruction column in pick up receipt.</p>
				   </div>
                <div class="well">
					<h4>What do you suggest to tackle clothes which bleed out color?</h4>
                       <br>
                       <p>Some dark coloured clothes have this tendency to bleed out color and white garments are most susceptible to adhering to this bled color. So we suggest not to give expensive white clothes in the lot for laundry. Dry cleaning expensive clothes is always a better and safe option.</p>
				   </div>
                <div class="distracted">
                    <h2 id="h2.-bootstrap-heading">PAYMENT</h2>
                </div>
                <div class="well">
					<h4>How do you accept payment?</h4>
                       <br>
                       <p>We accept cash from our customers to be given to our delivery boy once you have received your clothes. We provide our riders with sufficient amount of change so you need to worry about ‘khulle paise’. Also, you can pay online by clicking the link in the SMS sent to you when the rider is out for delivery. With the release of PML app now, we plan to create a wallet system for online transactions.</p>
                    </div>
                <div class="well">
					<h4>Do I need to tip the delivery rider?</h4>
                       <br>
                       <p>No need to search your pockets for that extra bit, we motivate our boys with ample incentives!</p>
				   </div>
                <div class="well">
					<h4>How do I avail discounts?</h4>
                       <br>
                       <p>  Any discounts/Offers is aptly displaced on the website or App. Also, keep checking your inbox regularly for exciting offers.</p>
				   </div>
                <div class="well">
					<h4>How do I Refer friends using App?</h4>
                       <br>
                       <p>Once you open the Android App, go to Invite & Earn section in Menu bar and find the unique Referral code. Click on the “Invite Friends” button at the bottom and share to earn some reward for yourself and your friend will earn some reward.</p>
				   </div>
		    </div>


{% endblock %}
