{% extends 'base.html' %}

{% block title %}
{{ super() }}
{% endblock %}

{% block content %}

<!---->
<div class="slider">
	  <div class="callbacks_container">
	     <ul class="rslides" id="slider">
	         <li>
				 <div class="banner1">				  
					  <div class="banner-info">
					  <h1 >Waasle Laundry</h1>
					  <p>To save Time and Money</p>
					  </div>
				 </div>
	         </li>
	         <li>
				 <div class="banner2">
					 <div class="banner-info">
					 <h1>5 start customer service</h1>
					 <p>We put you before anything.</p>
					 </div>
				 </div>
			 </li>
	         <li>
	             <div class="banner3">
	        	 	<div class="banner-info">
	        	 	<h1>Doorstep delivery</h1>
	          	 	<p>We deliver at your doorstep</p>
				 	</div>
				 </div>
	         </li>
			 <li>
				 <div class="banner4">
					  <div class="banner-info">
					  <h1>Nothing Beats us</h1>
					  <p>To save Time and Money</p>
					  </div>
				 </div>
	         </li>
	      </ul>
	  </div>
  </div>
<!---->
<script src="../static/js/bootstrap.js"> </script>


<div class="offers">
	<div class="container">
		<br><br><br>
		<h3>Waasle Laundry</h3>
		<div class="offer-grids">
		 <div class="col-md-6 grid-left">
			 <div class="offer-grid1">
				 <div class="ofr-pic-info">
					 <span>One stop clothing specialist that offer full laundry services.</span>
				 </div>
				 <div class="clearfix"></div>
			 </div>
		 </div>
			<div class="clearfix"></div>
			<br><br>
		 <div class="col-md-6 grid-left">
		 <div class="offer-grid1" hidden="true">
		 </div>
		 </div>

			<div class="col-md-6 grid-right">
			<div class="clearfix"></div>

			 <div class="offer-grid2">
				 <div class="ofr-pic-info">
					 <span>From professional Dry Cleaning to special fabrics cleaning treatments.</span>
				 </div>
				 <div class="clearfix"></div>
			 </div>
		 </div>
		 <div class="clearfix"></div>
		</div>
		<div class="offer-grids">
		 <div class="col-md-6 grid-left">
			 <div class="offer-grid1">
				 <div class="ofr-pic-info">
					 <span>We will also provide free Pick & Drop services to our customer.</span>
				 </div>
				 <div class="clearfix"></div>
			 </div>
		 </div>
			<div class="clearfix"></div>
			<br><br>
		 <div class="col-md-6 grid-left">
		 <div class="offer-grid1" hidden="true">
		 </div>
		 </div>

			<div class="col-md-6 grid-right">
			<div class="clearfix"></div>

			 <div class="offer-grid2">
				 <div class="ofr-pic-info">
					 <span>WAASLE laundry specialized in<br> Cleaning, Drying, Ironing.</span>
				 </div>
				 <div class="clearfix"></div>
			 </div>
		 </div>
		 <div class="clearfix"></div>
		</div>
		<div class="offer-grids">
		 <div class="col-md-6 grid-left">
			 <div class="offer-grid1">
				 <div class="ofr-pic-info">
					 <span>Also offer branded Handbag cleaning  & Coach Burberry.</span>
				 </div>
				 <div class="clearfix"></div>
			 </div>
		 </div>
			<div class="clearfix"></div>
			<br><br><br>
		 </div>

	</div>
	 <div class="container" id="pricing">
	 <br>
		 <h3>Pricing</h3>
	<div class="product">
	 <div class="container">
		 <div class="product-price1">
			 <div class="top-sing">
				  <div class="col-md-7 single-top">
					 <div>
							  <ul>
								<li data-thumb="../static/images/wash_fold.jpg">
									<div class="thumb-image"> <img src="../static/images/wash_fold.jpg" class="img-responsive" alt=""/> </div>
								</li>
							  </ul>
						</div>

				 </div>
			     <div class="col-md-5 single-top-in simpleCart_shelfItem">
					  <div class="single-para ">
						 <h2>Wash & Fold</h2>
							<h5 class="item_price" style="margin: 0em 0 0.5em;">Rs. {{w_f}} + tax (per kg) </h5>
							<p class="para">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, Vivamus porttitor tincidunt elementum nisi a, euismod rhoncus urna. Curabitur scelerisque vulputate diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat </p>
							<div class="prdt-info-grid">
								 <ul>
									 <li>- 48 hrs Turnaround time</li>
									 <li>- Machine Wash & Tumble Dry</li>
									 <li>- Combined Package for Casual and Regular Wears</li>
								 </ul>
							</div>
					 </div>
				 </div>
				 <div class="clearfix"> </div>
				 <br>
				 <div class="col-md-7 single-top">
					 <div>
							  <ul>
								<li data-thumb="../static/images/wash_iron.jpg">
									<div class="thumb-image"> <img src="../static/images/wash_iron.jpg" class="img-responsive" alt=""/> </div>
								</li>
							  </ul>
						</div>

				 </div>
			     <div class="col-md-5 single-top-in simpleCart_shelfItem">
					  <div class="single-para ">
						 <h2>Wash & Iron</h2>
							<h5 class="item_price" style="margin: 0em 0 0.5em;">Rs. {{w_i}} + tax (per kg) </h5>
							<p class="para">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, Vivamus porttitor tincidunt elementum nisi a, euismod rhoncus urna. Curabitur scelerisque vulputate diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat </p>
							<div class="prdt-info-grid">
								 <ul>
									 <li>- 48 hrs Turnaround time</li>
									 <li>- Machine Wash & Tumble Dry</li>
									 <li>- Combined Package for Casual and Regular Wears</li>
									 <li>- Machine Wash & Hung Dry with Steam Ironing</li>
								 </ul>
							</div>
					 </div>
				 </div>
				 <div class="clearfix"> </div>
				 <br>
				 <div class="col-md-7 single-top">
					 <div>
							  <ul>
								<li data-thumb="../static/images/dryclean.jpg">
									<div class="thumb-image"> <img src="../static/images/dryclean.jpg" class="img-responsive" alt=""/> </div>
								</li>
							  </ul>
						</div>

				 </div>
			     <div class="col-md-5 single-top-in simpleCart_shelfItem">
					  <div class="single-para ">
						 <h2>Dry Cleaning</h2>
							<h5 class="item_price" style="margin: 0em 0 0.5em;">Rs. {{dc}} + tax (per piece) </h5>
							<p class="para">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, Vivamus porttitor tincidunt elementum nisi a, euismod rhoncus urna. Curabitur scelerisque vulputate diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat </p>
							<div class="prdt-info-grid">
								 <ul>
									 <li>- 72 hrs Turnaround time</li>
									 <li>- Petro-chemical Cleaning, Spot Removal of Stains</li>
									 <li>- Individual Packaging with cushioning materials</li>
									 <li>- Crisp Ironing through Steam/Hard Press</li>
									 <li>- Preferred for Expensive & Fancy Garments / Heavy Items</li>
								 </ul>
							</div>
					 </div>
				 </div>
				 <div class="clearfix"> </div>
			 </div>
	     </div>
	 </div>
</div>

	 </div>
</div>
{% endblock %}