{% extends 'base.html' %}

{% block title %}
{{ super() }}
{% endblock %}

{% block content %}

<!---->
<div class="slider">
	  <div>
	     <ul class="rslides" id="slider">
	         <li>
				 <div class="banner1">				  
					  <div class="banner-info">
					  <h3>Waasle Laundry</h3>
					  <p>To save Time and Money</p>
					  </div>
				 </div>
	         </li>
	         <li>
				 <div class="banner2">
					 <div class="banner-info">
					 <h3>5 start customer service</h3>
					 <p>We put you before anything.</p>
					 </div>
				 </div>
			 </li>
	         <li>
	             <div class="banner3">
	        	 	<div class="banner-info">
	        	 	<h3>Doorstep delivery</h3>
	          	 	<p>We deliver at your doorstep</p>
				 	</div>
				 </div>
	         </li>
			 <li>
				 <div class="banner4">
					  <div class="banner-info">
					  <h3>Nothing Beats us</h3>
					  <p>To save Time and Money</p>
					  </div>
				 </div>
	         </li>
	      </ul>
	  </div>
  </div>
<!---->
<script src="../static/js/bootstrap.js"> </script>


<div class="offers">
	<div class="container">
		<br><br><br><br><br><br>
		<h3>Waasle Laundry</h3>
		<div class="offer-grids">
		 <div class="col-md-6 grid-left">
			 <div class="offer-grid1">
				 <div class="ofr-pic-info">
					 <span>One stop clothing specialist that offer full laundry services.</span>
				 </div>
				 <div class="clearfix"></div>
			 </div>
		 </div>
			<div class="clearfix"></div>
			<br><br>
		 <div class="col-md-6 grid-left">
		 <div class="offer-grid1" hidden="true">
		 </div>
		 </div>

			<div class="col-md-6 grid-right">
			<div class="clearfix"></div>

			 <div class="offer-grid2">
				 <div class="ofr-pic-info">
					 <span>From professional Dry Cleaning to special fabrics cleaning treatments.</span>
				 </div>
				 <div class="clearfix"></div>
			 </div>
		 </div>
		 <div class="clearfix"></div>
		</div>
		<div class="offer-grids">
		 <div class="col-md-6 grid-left">
			 <div class="offer-grid1">
				 <div class="ofr-pic-info">
					 <span>We will also provide free Pick & Drop services to our customer.</span>
				 </div>
				 <div class="clearfix"></div>
			 </div>
		 </div>
			<div class="clearfix"></div>
			<br><br>
		 <div class="col-md-6 grid-left">
		 <div class="offer-grid1" hidden="true">
		 </div>
		 </div>

			<div class="col-md-6 grid-right">
			<div class="clearfix"></div>

			 <div class="offer-grid2">
				 <div class="ofr-pic-info">
					 <span>WAASLE laundry specialized in<br> Cleaning, Drying, Ironing.</span>
				 </div>
				 <div class="clearfix"></div>
			 </div>
		 </div>
		 <div class="clearfix"></div>
		</div>
		<div class="offer-grids">
		 <div class="col-md-6 grid-left">
			 <div class="offer-grid1">
				 <div class="ofr-pic-info">
					 <span>Also offer branded Handbag cleaning  & Coach Burberry.</span>
				 </div>
				 <div class="clearfix"></div>
			 </div>
		 </div>
			<div class="clearfix"></div>
		 </div>

	</div>
	<style>
		.horflex{
			display:flex;
			flex-direction:row;
			width:100%;
		}
		.circles{
			background-color:#00c0f2;
			text-align:center;
			padding-top:18px;
			padding-bottom:18px;
			padding-right:12px;
			width:100px;
			height:100px;
			margin:20px;
			font-size:1.2em;
			border-radius:50px;
			border:4px solid #004f6a;
			font-family:Dosis-Medium;
			padding-left:12px;
		}
		.circles span{
			opacity:0;
			position:absolute;
		}
		.circles:hover span{
			opacity:1;
			text-align:center;
			transition:all 0.3s linear;
		}
		.himage{
			width:100px;
			height:100px;
			margin-left:-24px;
			margin-top:-22px;
			border-radius:50px;
		}

	</style>
	<div class="container" id="services">
			 <br><br><br>
			 <h3 style="margin-top: 80px;">Services</h3>
		     <div class="horflex">
				 <div>
					 <div class="circles"><span class="shover"><img class="himage" src="{{ url_for('static', filename='images/laundry.jpg') }}"/></span>Laundry</div>
					 <div class="circles"><span class="shover"><img class="himage" src="{{ url_for('static', filename='images/steam_press.jpg') }}"/></span>Steam Press</div>
					 <div class="circles"><span class="shover"><img class="himage" src="{{ url_for('static', filename='images/wash_and_fold.png') }}"/></span>Wash & Fold</div>
					 <div class="circles"><span class="shover"><img class="himage" src="{{ url_for('static', filename='images/fabric_conditioner.jpg') }}"/></span>Fabric Conditioner</div>
					 <div class="circles"><span class="shover"><img class="himage" src="{{ url_for('static', filename='images/live_processing_center.jpg') }}"/></span>Live Processing centre</div>
				 </div>
				 <div><img src="{{ url_for('static', filename='images/truck.jpg') }}" class="img-responsive" alt="Map" align="middle" style="margin-top:18%"/>
				 </div>
				 <div>
					 <div class="circles"><span class="shover"><img class="himage" src="{{ url_for('static', filename='images/dryclean.jpg') }}"/></span>Dry clean</div>
					 <div class="circles"><span class="shover"><img class="himage" src="{{ url_for('static', filename='images/truck.jpg') }}"/></span>Free Pick and Drop</div>
					 <div class="circles"><span class="shover"><img class="himage" src="{{ url_for('static', filename='images/starching.jpg') }}"/></span>Starching</div>
					 <div class="circles"><span class="shover"><img class="himage" src="{{ url_for('static', filename='images/antiseptic_wash.jpg') }}"/></span>Antiseptic Wash</div>
					 <div class="circles"><span class="shover"><img class="himage" src="{{ url_for('static', filename='images/fabric_softener.jpg') }}"/></span>Fabric Softener</div>
				 </div>
			 </div>

		 </div>
	 <div class="container" id="pricing">
	 <br><br><br><br><br><br>
		 <h3>Pricing</h3>
	<div class="product">
	 <div class="container">
		 <div class="product-price1">
			 <div class="top-sing">
				  <div class="col-md-7 single-top">
					 <div>
							  <ul>
								<li data-thumb="../static/images/wash_fold.jpg" style="list-style-type: None;">
									<div class="thumb-image"> <img src="../static/images/wash_fold.jpg" class="img-responsive" alt=""/> </div>
								</li>
							  </ul>
						</div>

				 </div>
			     <div class="col-md-5 single-top-in simpleCart_shelfItem">
					  <div class="single-para">
						 <a href="{{ url_for('main.pricing')}}"><h2 style="font-family:Dosis-Bold;">Wash & Fold</h2></a>
							<h5 class="item_price" style="margin: 0em 0 0.5em;font-family:Pacifico;">Rs. {{w_f}} + tax (per kg) </h5>
							<p class="para">
								First your clothes are sorted and colors are separated from whites. Then we wash and dry your clothes in separate machines for each customer. Next, your clothes are neatly folded, socks are matched and the clothes are wrapped up nice and tidy like a present.
							</p>
							<div class="prdt-info-grid">
								 <ul>
									 <li>- 48 hrs Turnaround time</li>
									 <li>- Machine Wash & Tumble Dry</li>
									 <li>- Combined Package for Casual and Regular Wears</li>
								 </ul>
							</div>
					 </div>
				 </div>
				 <div class="clearfix"> </div>
				 <br>
				 <div class="col-md-7 single-top">
					 <div>
							  <ul>
								<li data-thumb="../static/images/wash_iron.jpg" style="list-style-type: None;">
									<div class="thumb-image"> <img src="../static/images/wash_iron.jpg" class="img-responsive" alt=""/> </div>
								</li>
							  </ul>
						</div>

				 </div>
			     <div class="col-md-5 single-top-in simpleCart_shelfItem">
					  <div class="single-para ">
						 <a href="{{ url_for('main.pricing')}}"><h2 style="font-family:Dosis-Bold;">Wash & Iron</h2></a>
							<h5 class="item_price" style="margin: 0em 0 0.5em;font-family:Pacifico;">Rs. {{w_i}} + tax (per kg) </h5>
							<p class="para">
								First your clothes are sorted and colors are separated from whites. Then we wash and dry your clothes in separate machines. Next, your clothes are steam ironed according to fabric and folded, socks are matched and the clothes are wrapped up nice and tidy like a present.
							</p>
							<div class="prdt-info-grid">
								 <ul>
									 <li>- 48 hrs Turnaround time</li>
									 <li>- Machine Wash & Tumble Dry</li>
									 <li>- Combined Package for Casual and Regular Wears</li>
									 <li>- Machine Wash & Hung Dry with Steam Ironing</li>
								 </ul>
							</div>
					 </div>
				 </div>
				 <div class="clearfix"> </div>
				 <br>
				 <div class="col-md-7 single-top">
					 <div>
							  <ul>
								<li data-thumb="../static/images/dryclean.jpg" style="list-style-type: None;">
									<div class="thumb-image"> <img src="../static/images/dryclean.jpg" class="img-responsive" alt=""/> </div>
								</li>
							  </ul>
						</div>

				 </div>
			     <div class="col-md-5 single-top-in simpleCart_shelfItem">
					  <div class="single-para ">
						 <a href="{{ url_for('main.pricing')}}"><h2 style="font-family:Dosis-Bold;">Dry Cleaning</h2></a>
							<h5 class="item_price" style="margin: 0em 0 0.5em;font-family:Pacifico;">Rs. {{dc}} + tax (per piece) </h5>
							<p class="para">
								Your special wears are washed with special care with tested and safe chemicals so as to make sure the removal of stains, but also adds shine. Requisite ironing is used to make your dress as brand new.
							</p>
							<div class="prdt-info-grid">
								 <ul>
									 <li>- 72 hrs Turnaround time</li>
									 <li>- Petro-chemical Cleaning, Spot Removal of Stains</li>
									 <li>- Individual Packaging with cushioning materials</li>
									 <li>- Crisp Ironing through Steam/Hard Press</li>
									 <li>- Preferred for Expensive & Fancy Garments / Heavy Items</li>
								 </ul>
							</div>
					 </div>
				 </div>
			 </div>
		 </div>
	 </div>
	</div>
	<div class="content">
		<div class="wrap">
			<h3 style="margin-top: 80px;">Packages for You</h3>
		 <br><br>
        <div class="pricing_wrapper">
            <div class="one_fourth">
                <div class="pricing">
                    <div class="pricing_top">
                        <img src="../static/images/category.png"/>
                        <h4>Package</h4>
                        <p>Price</p>
                    </div>

                    <ul>
                        <li><i class="icon-hdd"></i><strong>No of Clothes</strong></li>
                        <li><i class="icon-dashboard"></i><strong>You Pay</strong> </li>
                        <li><i class="icon-envelope"></i><strong>You Save</strong> </li>
                        <li><i class="icon-globe"></i><strong>Free Pickup & Delivery</strong> </li>
                        <li><i class="icon-globe"></i><strong>Validity</strong> </li>
                        <li><strong>Purchase</strong> </li>
                    </ul>
                </div>
            </div>
                        <div class="one_fourth ">
                            <div class="pricing">
                                <div class="pricing_ribbon">
                                    <!--<p>sale</p>-->
                                </div>
                                <div class="pricing_top">
                                    <img src="../static/images/single.png"/>
                                    <h4>Single</h4>
                                    <p>Rs.799 / Month</p>
                                </div>

                                <ul>
                                    <li><i class="icon-hdd"></i><strong>50</strong></li>
                                    <li><i class="icon-envelope"></i><strong>Rs. 799</strong> </li>
                                    <li><i class="icon-dashboard"></i><strong>35%</strong></li>
                                    <li><i class="icon-globe"></i><strong>Biweekly</strong> </li>
                                    <li><i class="icon-globe"></i><strong>1 month</strong> </li>
                                    <li class="pricing_order"><a href="{{ url_for('auth.book_now') }}">Order Now</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="one_fourth ">
                            <div class="pricing">
                                <div class="pricing_ribbon">
                                    <!--<p>sale</p>-->
                                </div>
                                <div class="pricing_top">
                                    <img src="../static/images/family.png"/>
                                    <h4>Couple</h4>
                                    <p>Rs.1499 / Month</p>
                                </div>

                                <ul>
                                    <li><i class="icon-hdd"></i><strong>100</strong></li>
                                    <li><i class="icon-envelope"></i><strong>Rs. 1499</strong> </li>
                                    <li><i class="icon-dashboard"></i><strong>40%</strong></li>
                                    <li><i class="icon-globe"></i><strong>Biweekly</strong> </li>
                                    <li><i class="icon-globe"></i><strong>1 month</strong> </li>
                                    <li class="pricing_order"><a href="{{ url_for('auth.book_now') }}">Order Now</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="one_fourth last">
                            <div class="pricing">
                                <div class="pricing_ribbon">
                                    <!--<p>sale</p>-->
                                </div>
                                <div class="pricing_top">
                                    <img src="../static/images/couple.png"/>
                                    <h4>Family</h4>
                                    <p>Rs.1999 / Month</p>
                                </div>

                                <ul>
                                    <li><i class="icon-hdd"></i><strong>150</strong></li>
                                    <li><i class="icon-envelope"></i><strong>Rs. 1999</strong> </li>
                                    <li><i class="icon-dashboard"></i><strong>45%</strong></li>
                                    <li><i class="icon-globe"></i><strong>Biweekly</strong> </li>
                                    <li><i class="icon-globe"></i><strong>1 month</strong> </li>
                                    <li class="pricing_order"><a href="{{ url_for('auth.book_now') }}">Order Now</a></li>
                                </ul>
                            </div>
                        </div>
                            </div>

		</div>
	</div>
		 <div class="container" id="mission&vision">
			 <style>
				 .card{
  					transition: all 1s linear;
  					margin-left:auto;
  					margin-right:auto;
				  	margin-top:20px;
  					/*border: 1px solid black;*/
  					display: flex;
  					flex-direction: column;
  					justify-content: center;
  					align-items: center;
  					background: white;
  					color: #2196f3;
  					font-family:Serif,sansserif;
  					font-size:1.7em;
  					padding: 20px;
  					box-shadow: 0 0 10px 0px black;
  					transition: all 0.5s ease;
  					width:550px;
  					height:550px;
  					border-radius:2750px;
  					border-bottom: 6px solid #004d40;
				}
				 .card .img-responsive{
				 	max-width:250px;
				 	margin-right:40px;
				 }
				 .card p{
				 	padding-left:30px;padding-right:30px;
				 	text-align:center;
				 }
				 .rflex{
				 	display:flex;
				 	flex-direction:row;
				 }
			 </style>
			 <div class="row">
				 <div class="col-lg-6">
			 <div style="padding-top: 20px; margin-top: 80px" class="card">
				 <img src="{{ url_for('static', filename='images/vision.jpg') }}" class="img-responsive" alt="Map" align="middle"/>
				 <p class="text-justify" style="font-family:Sniglet;">
					 To provide a safe, efficient laundry experience
				 through superior cleanliness and most outstanding service of our customer.
				 <p>
			 </div></div>

				 <div class="col-lg-6">
			 <div style="padding-top: 20px; margin-top: 80px" class="card">
				 <img src="{{ url_for('static', filename='images/mission.jpg') }}" class="img-responsive" alt="Map" align="middle"/>
				 <p class="text-justify" style="font-family:Sniglet;">
					 To become Trusted and Reliable laundry services provider and meet the
					 need of our customer and to simplify their professional life.
				 <p>
			 </div>
					 </div>
				 </div>
		 </div>


	 </div>
</div>
{% endblock %}