{% extends 'base.html' %}

{% block title %}
Waasle | Full Laundry Pricing
{% endblock %}

{% block content %}

<!---->
<div class="contact">
	  <div class="container">
		 <ol class="breadcrumb">
		  <li><a href="{{url_for('main.index')}}">Home</a></li>
		  <li class="active">Pricing</li>
		 </ol>
			<!--start contact-->
			<h3>Pricing of Our Services</h3>
          </div>
	<div class="bspace clearfix bigs">

     <div class="tbcontainer">
<br>
      <p align="right"><b>Min Order ₹ 250</b></p>
			<p align="right"><b>Service tax applicable</b></p>
      <h1 class="rate">Rate card For Men</h1>
			<h1 class="rate">Dry Cleaning Coming Soon</h1>
<table class="table_rate" cellspacing="0">
 <thead><tr><th>Item</th><th>Laundry With Steam Press</th><th>Dry Cleaning</th><th>Iron Fold</th></tr></thead><tbody>
 <tr><td>Dhoti</td><td>25</td><td>50</td><td>10</td></tr>
 <tr><td>Handkerchief</td><td>30</td><td>50</td><td>12</td></tr>
 <tr><td>Jacket cotton/ Safari shirt</td><td>30</td><td>60</td><td>12</td></tr>
 <tr><td>Kurta</td><td>20</td><td>40</td><td>10</td></tr>
 <tr><td>Pyjama</td><td>20</td><td>40</td><td>10</td></tr>
 <tr><td>Shirt Cotton/ T-Shirts</td><td>20</td><td>40</td><td>10</td></tr>
 <tr><td>Shorts - cotton</td><td>15</td><td>30</td><td>8</td></tr>
 <tr><td>Socks pair</td><td>15</td><td>30</td><td>8</td></tr>
 <tr><td>Sweater - cardigan</td><td>50</td><td>105</td><td>15</td></tr>
 <tr><td>Trouser, jeans</td><td>20</td><td>45</td><td>10</td></tr>
 <tr><td>Undergarment</td><td>15</td><td>30</td><td>10</td></tr>
 <tr><td>Lungi</td><td>20</td><td>45</td><td>10</td></tr>
 <tr><td>Blazer / suit 2 pcs/ sherwani</td><td>&nbsp;</td><td>210</td><td>&nbsp;</td></tr>
 <tr><td>Suit 3 pcs</td><td>&nbsp;</td><td>210</td><td>&nbsp;</td></tr>
 <tr><td>Tie</td><td>&nbsp;</td><td>30</td><td>&nbsp;</td></tr>
 <tr><td>Shoes (pair)</td><td>&nbsp;</td><td>50</td><td>&nbsp;</td></tr>
 <tr><td>Sherwani </td><td>&nbsp;</td><td>120</td><td>&nbsp;</td></tr>
 <tr><td>Sherwani (heavy work)</td><td>&nbsp;</td><td>200</td><td>&nbsp;</td></tr>
</tbody></table>
</div>

<div class="tbcontainer">
<h1 class="rate">Rate card For Women</h1>
<table class="table_rate" cellspacing="0">
<thead><tr><th>Item</th><th>Laundry With Steam Press</th><th>Dry Cleaning</th><th>Iron Fold</th></tr></thead><tbody>
 <tr><td>Dhoti</td><td>20</td><td>40</td><td>10</td></tr>
 <tr><td>Dupatta cotton</td><td>15</td><td>30</td><td>8</td></tr>
 <tr><td>Grown</td><td>20</td><td>40</td><td>10</td></tr>
 <tr><td>Shorts cotton</td><td>15</td><td>30</td><td>8</td></tr>
 <tr><td>Stockings/ socks pair</td><td>20</td><td>35</td><td>8</td></tr>
 <tr><td>Stole Scarf</td><td>15</td><td>30</td><td>8</td></tr>
 <tr><td>Undergarment</td><td>15</td><td>30</td><td>8</td></tr>
 <tr><td>Shirt/Top/Kurta/safari top cotton</td><td>20</td><td>40</td><td>10</td></tr>
 <tr><td>Nighty</td><td>20</td><td>40</td><td>10</td></tr>
 <tr><td>Pyjama Cotton</td><td>20</td><td>45</td><td>10</td></tr>
 <tr><td>Salwar cotton</td><td>20</td><td>45</td><td>10</td></tr>
 <tr><td>Trouser/Pants/Slacks/Jeans</td><td>20</td><td>35</td><td>10</td></tr>
 <tr><td>Kameez cotton</td><td>20</td><td>35</td><td>10</td></tr>
 <tr><td>Petti coat</td><td>20</td><td>40</td><td>10</td></tr>
 <tr><td>Blouse</td><td>15</td><td>35</td><td>8</td></tr>
 <tr><td>Skirt short</td><td>15</td><td>35</td><td>8</td></tr>
 <tr><td>Dress cotton</td><td>20</td><td>25</td><td>10</td></tr>
 <tr><td>Skirt long</td><td>20</td><td>45</td><td>12</td></tr>
 <tr><td>Jacket/overcoat cotton</td><td>30</td><td>70</td><td>12</td></tr>
 <tr><td>SKD cotton</td><td>25</td><td>50</td><td>10</td></tr>
 <tr><td>Saree cotton</td><td>20</td><td>50</td><td>10</td></tr>
 <tr><td>Sweater</td><td>20</td><td>50</td><td>10</td></tr>
 <tr><td>Blazer/jacket/overcoat/ safari exclusive</td><td>&nbsp;</td><td>205</td><td>&nbsp;</td></tr>
 <tr><td>CLD Cotton</td><td>&nbsp;</td><td>150</td><td>&nbsp;</td></tr>
 <tr><td>CLD - Exclusive</td><td>&nbsp;</td><td>205</td><td>&nbsp;</td></tr>
 <tr><td>Dress Exclusive</td><td>&nbsp;</td><td>205</td><td>&nbsp;</td></tr>
 <tr><td>Kameez Exclusive</td><td>&nbsp;</td><td>220</td><td>&nbsp;</td></tr>
 <tr><td>Designer wear</td><td>&nbsp;</td><td>270</td><td>&nbsp;</td></tr>
 <tr><td>Lehnga Exclusive</td><td>&nbsp;</td><td>250</td><td>&nbsp;</td></tr>
 <tr><td>Silk saree</td><td>&nbsp;</td><td>205</td><td>&nbsp;</td></tr>
 <tr><td>Exclusive / designer saree</td><<td>&nbsp;</td><td>300</td><td>&nbsp;</td></tr>
 <tr><td>Shawl Exclusive</td><td>&nbsp;</td><td>180</td><td>&nbsp;</td></tr>
 <tr><td>Lehenga Cotton</td><td>&nbsp;</td><td>205</td><td>&nbsp;</td></tr>
 <tr><td>Showl</td><td>&nbsp;</td><td>150</td><td>&nbsp;</td></tr>
</tbody></table></di>


<div class="tbcontainer">
<h1 class="rate">Rate card For Household</h1>
<table class="table_rate" cellspacing="0">
<thead><tr><th>Item</th><th>Laundry with Steam Press</th><th>Dry Cleaning</th></tr></thead><tbody>
 <tr><td>Bath Mat</td><td>20</td><td>50</td></tr>
 <tr><td>Bath Towel</td><td>20</td><td>50</td></tr>
 <tr><td>Carpet per sqft</td><td>10</td><td>20</td></tr>
 <tr><td>Cushion cover small</td><td>20</td><td>50</td></tr>
 <tr><td>Face towel/ hand towel/ napkin</td><td>10</td><td>20</td></tr>
 <tr><td>Footmat</td><td>15</td><td>30</td></tr>
 <tr><td>Pair of Slipper</td><td>20</td><td>50</td></tr>
 <tr><td>Pillow cover cotton</td><td>15</td><td>35</td></tr>
 <tr><td>Table cloth small</td><td>15</td><td>35</td></tr>
 <tr><td>Stuff toy small</td><td>15</td><td>35</td></tr>
 <tr><td>Bath Robe</td><td>15</td><td>35</td></tr>
 <tr><td>Bed Cover Single</td><td>35</td><td>70</td></tr>
 <tr><td>Bed Sheet Single</td><td>40</td><td>80</td></tr>
 <tr><td>Blanket single</td><td>149</td><td>299</td></tr>
 <tr><td>Car seat cover</td><td>60</td><td>120</td></tr>
 <tr><td>Chair cover </td><td>30</td><td>60</td></tr>
 <tr><td>Cushion cover big</td><td>40</td><td>80</td></tr>
 <tr><td>Sofa cover per seat</td><td>70</td><td>140</td></tr>
 <tr><td>Table cloth big</td><td>30</td><td>60</td></tr>
 <tr><td>Bed Cover Double</td><td>70</td><td>140</td></tr>
 <tr><td>Bed Sheet Double</td><td>80</td><td>150</td></tr>
 <tr><td>Blanket double</td><td>249</td><td>399</td></tr>
 <tr><td>Curtain half (Panel of 3 ft)</td><td>110</td><td>220</td></tr>
 <tr><td>Quilt cover</td><td>40</td><td>80</td></tr>
 <tr><td>Stuff toy big</td><td>30</td><td>60</td></tr>
 <tr><td>Curtain full (Panel of 3 ft)</td><td>210</td><td>349</td></tr>
 <tr><td>Dari</td><td>150</td><td>299</td></tr>
 <tr><td>Quilt/Duvet Single</td><td>140</td><td>240</td></tr>
 <tr><td>Quilt/Duvet Double</td><td>240</td><td>440</td></tr>
 <tr><td>Sleeping bag</td><td>&nbsp;</td><td>120</td></tr>
</tbody></table>
</div>
     <div class="tbcontainer clearfix">
     <div class="tbauto">
         <h1 class="rate">Rate Card for Kids</h1>
<table class="table_rate">
    <thead><tr><th>GARMENTS</th><th>Laundry with Steam Press</th><th>Dry Cleaning</th><th>Iron Folding</th></tr></thead>
    <tbody><tr><td>KIDS BELOW 8 YEARS</td><td>20</td><td>55</td><td>12</td></tr></tbody>
</table>
     </div>
    <div class="tbauto">
<h1 class="rate">Rate Card for Addons</h1>
<table class="table_rate">
    <thead><tr><th>SERVICE</th><th>GARMENTS</th><th>PRICE</th></tr></thead>
 <tbody><tr><td>Starch Low</td><td>shirts, saree, dhoti, kurta</td><td>20</td></tr>
 <tr><td>Starch Medium</td><td>shirts, saree, dhoti, kurta</td><td>20</td></tr>
 <tr><td>Starch High</td><td>shirts, saree, dhoti, kurta</td><td>20</td></tr>
 <tr><td>Perfume Wash</td><td>All items</td><td>10</td></tr>
 <tr><td>Bleaching</td><td>All items</td><td>20</td></tr>
 <tr><td>Stain Removal</td><td>All items</td><td>10</td></tr>
 <tr><td>Roll Polishing</td><td>Saree</td><td>50</td></tr>
 <!--<tr><td>Darning</td><td>All items</td><td>&nbsp;</td></tr>-->
 <tr><td>Button Fixing</td><td>All items</td><td>20</td></tr>
 <tr><td>Stitching</td><td>All items</td><td>20</td></tr></tbody>
</table>
</div>  </div> </div>

</div>


    </div>


</div>



</div>

{% endblock %}
