{% extends 'base.html' %}

{% block title %}
{{ super() }}
{% endblock %}

{%block styles %}
{{super()}}
	<link href="{{ url_for('static', filename='css/form.css') }}" rel="stylesheet" type="text/css" media="all" />
	<link href="{{ url_for('static', filename='css/flexslider.css') }}" rel="stylesheet" type="text/css" media="all" />
{% endblock styles %}


{% block content %}

<div class="product">
	 <div class="container">				
		 <div class="product-price1">
			 <div class="top-sing">
				  <div class="col-md-7 single-top">	
					 <div>
							  <ul>
								<li data-thumb="../static/images/Wash_fold.jpg">
									<div class="thumb-image"> <img src="../static/images/Wash_fold.jpg" class="img-responsive" alt=""/> </div>
								</li>
							  </ul>
						</div>					 					 

				 </div>	
			     <div class="col-md-5 single-top-in simpleCart_shelfItem">
					  <div class="single-para ">
						 <h2>Wash & Fold</h2>
							<h5 class="item_price">Rs. 49 + tax (per kg) </h5>
							<p class="para">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, Vivamus porttitor tincidunt elementum nisi a, euismod rhoncus urna. Curabitur scelerisque vulputate diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat </p>
							<div class="prdt-info-grid">
								 <ul>
									 <li>- 48 hrs Turnaround time</li>
									 <li>- Machine Wash & Tumble Dry</li>
									 <li>- Combined Package for Casual and Regular Wears</li>
								 </ul>
							</div>
					 </div>
				 </div>
				 <div class="clearfix"> </div>
				 <div class="col-md-7 single-top">
					 <div>
							  <ul>
								<li data-thumb="../static/images/Wash_fold.jpg">
									<div class="thumb-image"> <img src="../static/images/Wash_fold.jpg" class="img-responsive" alt=""/> </div>
								</li>
							  </ul>
						</div>

				 </div>
			     <div class="col-md-5 single-top-in simpleCart_shelfItem">
					  <div class="single-para ">
						 <h2>Wash & Fold</h2>
							<h5 class="item_price">Rs. 49 + tax (per kg) </h5>
							<p class="para">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, Vivamus porttitor tincidunt elementum nisi a, euismod rhoncus urna. Curabitur scelerisque vulputate diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat </p>
							<div class="prdt-info-grid">
								 <ul>
									 <li>- 48 hrs Turnaround time</li>
									 <li>- Machine Wash & Tumble Dry</li>
									 <li>- Combined Package for Casual and Regular Wears</li>
								 </ul>
							</div>
					 </div>
				 </div>
				 <div class="clearfix"> </div>
				 <div class="col-md-7 single-top">
					 <div>
							  <ul>
								<li data-thumb="../static/images/Wash_fold.jpg">
									<div class="thumb-image"> <img src="../static/images/Wash_fold.jpg" class="img-responsive" alt=""/> </div>
								</li>
							  </ul>
						</div>

				 </div>
			     <div class="col-md-5 single-top-in simpleCart_shelfItem">
					  <div class="single-para ">
						 <h2>Wash & Fold</h2>
							<h5 class="item_price">Rs. 49 + tax (per kg) </h5>
							<p class="para">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, Vivamus porttitor tincidunt elementum nisi a, euismod rhoncus urna. Curabitur scelerisque vulputate diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat </p>
							<div class="prdt-info-grid">
								 <ul>
									 <li>- 48 hrs Turnaround time</li>
									 <li>- Machine Wash & Tumble Dry</li>
									 <li>- Combined Package for Casual and Regular Wears</li>
								 </ul>
							</div>
					 </div>
				 </div>
				 <div class="clearfix"> </div>
			 </div>
	     </div>

	 </div>
</div>

{% endblock content %}