{% extends 'base.html' %}

{% block title %}
Waasle Laundry| Location
{% endblock %}

{% block content %}

<!---->
<div class="pages">
		<div class="container">
			 <ol class="breadcrumb">
		  <li><a href=" {{ url_for('main.index') }}">Home</a></li>
		  <li class="active">Vision</li>
		 </ol>
			 <h2 class="top">Our Vision</h2>
                <div class="headdings">
				<center><h3 class="ghj">WAASLE Laundry Is In Lucknow (UP) & Raipur (CG)</h3></center>
                    </div>
             
            </div>



{% endblock %}
