{% extends 'base.html' %}

{% block title %}
Waasle Laundry | About Us
{% endblock %}

{% block content %}

<!---->
<div class="pages">
		<div class="container">
			 <ol class="breadcrumb">
		  <li><a href=" {{ url_for('main.index') }}">Home</a></li>
		  <li class="active">Why Us</li>
		 </ol>
			 <h2 class="top">About Us</h2>
            <div id="">WAASLE laundry provides one stop clothing specialist that offers full laundry services. We are arriving on demand laundry service because washing is a daily need just like food</div>
			<div>MD & CO FOUNDER- NARSINGH YADAV
CEO & COFOUNDER- RAJVEER YADAV
INVESTOR- BRIJENDRA SINGH
SENIOR HR- SHILPI SINGH
TECHNICAL COSULTENT – PREM PAL AND SHIVAM
</div>
        </div>
</div>

{% endblock %}
